/* SERIF FONT */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
/* GROTESK FONT 
AVAILABLE IN 100, 400 (normal), 600
*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;600&display=swap');

:root{
    --color-1: #0b0829;
    --color-2: #2c1e5f;
    --color-3: #44a5cd;
    --color-4: #51c4c1;
}

body{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    scroll-behavior: smooth;
    cursor:url("./design-assets/dot.svg") 12 12, auto
}

/* FONT STYLES */

h1, h2, h3, .text-serif{
    font-family: 'Playfair Display', serif;
}

.text-thin{
    font-weight: 100;
}
strong, .text-strong{
    font-weight: 600;
}

/* NAVIGATION */
header{
    position: absolute;
    top: 0;
    width: 100%;
    padding:1rem 0;
}

header:hover .logo img{
    transform: scale(1.1);
}
header:hover .brand-name{
    transform: translateX(5px);
}

@media (max-width:1199px) {
    header .container{
        max-width: 100%;
    }
}


.logo figure{
    margin-bottom:0px;
}
.logo img{
    transform:scale(1);
    transition: transform 1s ease;
}
.logo .brand-name{
    font-size: 2rem;
    font-weight: 100;
    transition: transform 1s ease;
    background: -webkit-linear-gradient(#44a5cd, #51c4c1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: none;
}

@media (min-width:500px){
    .logo .brand-name{
        display: block;
    }
}

header nav ul{
    list-style: none;
    color: #FFF;
    display: flex;
    margin-bottom: 0px;
    height: 100%;
    align-items:center;
    justify-content: space-between;
    text-transform: uppercase;
    flex-wrap: wrap;
}

header nav ul li{
    font-size: 0.85rem;
    font-weight: 600;
    margin-right: 15px;
}

header nav a{
    text-decoration: none;
    color: white;
    white-space: nowrap;
}

header nav a:hover{
    color: white;
    text-decoration: underline;
}

nav ul a.current{
    color:var(--color-4);
}


#nav-toggle{
    display: none;
    color: white;
    text-transform: uppercase;
    font-size: 0.85rem;
    font-weight: 600;
}

@media (max-width:1100px){
    #nav-toggle{
        display:block;
    }
    nav{
        display: flex;
        justify-content: flex-end;
    }
    nav ul{
        display: none!important;
    }
}



/* HERO SECTION */

.stage{
    height:var(--height);
    background-size:cover;
    background-repeat: no-repeat;
}
.stage__inner{
    display: grid;
    place-items: center;
}
.stage__subheader{
    text-align: center;
}
.stage__text{
    line-height: 1.75;
    max-width: 60ch;
}
.stage__bottom{
    text-align: center;
}

/* STORY SECTION */
@media (max-width:900px) {
    .story__logo figure{
        text-align: center;
    }
}

/* TEAM GRID SECTION */

.team-grid{
    flex-wrap: wrap;
    overflow: initial;
}

@media (max-width:767px){
    .team-grid{
        flex-wrap: nowrap;
        overflow: scroll;
    }
}

.team-bio__image{
    margin:0px;
    overflow: hidden;
    position: relative;
}

.team-bio__image img{
    object-fit:cover;
    width:100%;
    height:100%;
    aspect-ratio:1;
    transition: all .6s ease;
    filter: grayscale(1);
}
.team-bio__info{
    font-size: 0.85rem;
    /* min-height to allow for at least three rows rot name + title */
    min-height: 140px;
    text-transform:uppercase;
    text-align: center;
    position: relative;
    border:1px solid #fff;
}
.team-bio__name, .team-bio__title{
    position: relative;
    z-index: 2;
    transition: color .3s ease .1s;
}
.team-bio__background{
    background-color: white;
    position: absolute;
    left:0;
    bottom:0;
    width: 100%;
    height:0%;
    transition: all .3s ease;
}
.team-bio:hover .team-bio__background{
    height: 100%;
}
.team-bio:hover img{
    transform: scale(1.1);
    filter: grayscale(0);
}
.team-bio:hover .team-bio__name, .team-bio:hover .team-bio__title{
    color:var(--color-2);
}

/* BUTTONS */
.btn.btn-outline-custom{
    text-transform: uppercase;
    border-radius: 2px;
    border: 1px solid var(--color-4);
    position: relative;
    font-weight: 600;
    padding:0.75rem 1rem;
}
.btn.btn-outline-custom span{
    display: block;
    font-size: 0.8rem;
    z-index: 2;
    position: relative;
    color:var(--color-4);
    transition: color .3s ease .1s;
}

.btn-outline-custom:after{
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    height:0;
    width: 100%;
    background-color: var(--color-4);
    transition: all .3s ease;
}

.btn.btn-outline-custom:hover span{
    color:var(--color-2);
}

.btn.btn-outline-custom:hover:after{
    height:100%
}



/* UTILITIES */
.separator{
    background-color: var(--color);
    height: var(--height);
    width: var(--width)!important;
    margin: auto;
}
.py-xl{
    padding-top:9rem;
    padding-bottom:9rem;
}
.pt-xl{
    padding-top:9rem;
}
.pb-xl{
    padding-bottom:9rem;
}
.py-lg{
    padding-top:6rem;
    padding-bottom:6rem;
}
.pt-lg{
    padding-top:6rem;
}
.pb-lg{
    padding-bottom:6rem;
}


/* VIDEO PLAYER */
.watchourstory{
    padding-top: 15%;
}

.playcontainer {
    position: relative;
    display: inline-block;
}

.playcontainer:hover {
    filter: brightness(80%);
}

.playcontainer:hover #outline {
    stroke: #ccc;
}

.playcontainer:hover #play {
    opacity: 0.7;
}

.playcontainer #text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    font-size: 1.2rem;
}

.playcontainer #image {
    display: block;
    width: 100%;
    height: auto;
}

.playcontainer #image:hover + #text {
    color: #ccc;
}

.playcontainer #text:hover {
    color: #252525;
}

.playcontainer #text:hover + #image {
    filter: brightness(70%);
    stroke: #ccc;
    opacity: 0.7;
}



/* EXPERTISE */

.expertise-boxes{
    flex-direction: row;
    display: flex;
    flex-wrap:wrap;
}

.expertise{
   
    text-align: center;
    padding:2rem;
}

.expertise-info{
    font-size: 0.85rem;
    text-align: center;
    position: relative;
    border:1px solid #fff;
    text-transform: none;
    color:rgb(149, 149, 149)
}

.expertise-areas{
    font-size: 0.85rem;
    text-align: center;
    position: relative;
    border:1px solid #fff;
    text-transform:uppercase;
}

.expertise-icons img {
    display: block;
    margin: 0 auto;
    width: 15%;
    padding-top:4px;
    padding-bottom:4px;
  }

.mobile-icon{
    display: block;
    margin: 0 auto;
    width: 55%;
    padding-bottom: 10px;
}

.gameboy{
    display: block;
    margin: 0 auto;
    width: 82%;
    padding-bottom: 14px;
}

@media only screen and (max-width: 991px) {
    .expertise {
      border: none !important;
    }
  }

@media only screen and (max-width: 767px) {
  .expertise-boxes {
    justify-content: center !important;
  }
}

 
    
