:root{
    --color-1: #0b0829;
    --color-2: #2c1e5f;
    --color-3: #44a5cd;
    --color-4: #51c4c1;
}

/* BUTTONS */
.btn.btn-outline-custom{
    border-radius: 0px;
    border: 1px solid var(--color-4);
    position: relative;
}
.btn.btn-outline-custom span{
    display: block;
    z-index: 2;
    position: relative;
    color:var(--color-4);
    transition: color .3s ease .1s;
}

.btn-outline-custom:after{
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    height:0;
    width: 100%;
    background-color: var(--color-4);
    transition: all .3s ease;
}

.btn.btn-outline-custom:hover span{
    color:var(--color-2);
}

.btn.btn-outline-custom:hover:after{
    height:100%
}


/* HERO SECTION */

.stage{
    height:var(--height);
    background-size:cover;
    background-repeat: no-repeat;
}
.stage__inner{
    display: grid;
    place-items: center;
}
.stage__text{
    line-height: 1.75;
    max-width: 60ch;
}
